.form{

background-color: #31353b;
height: 60vh;
display: none;

}


.icons{

 border-radius: 80%;

}

.iconSelecter{

border: solid 2px;
border-color: crimson;

}


.inputs{


   
}


.crudPanel{


margin-bottom: 0%;




}