

.form{

background-color: #C4C4C4;
height: 100%;
display: none;

}


.icons{

 border-radius: 80%;

}

.iconSelecter{

border: solid 2px;
border-color: crimson;

}

.text{
    color: #388A12;
}

.fields{


height: 90%;

}


.crudPanel{

height: 10%;


}

.point{
    text-align: start;
    font-weight: bold;
    cursor: pointer;
}

.point:hover{
    background: #388A12;
    color: white;
}

.green{

    background: #388A12;
    color: white;

}

.green:hover{
    background: #44D240;
}

