

.form{

background-color: #31353b;
height: 100%;
display: none;

}

form{
    
}


.icons{

 border-radius: 80%;

}

.iconSelecter{

border: solid 2px;
border-color: crimson;

}







.fields{


height: 90%;

}


.crudPanel{

height: 10%;


}

